name: Build APK
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Flet
        run: pip install flet
      - name: Build APK
        run: flet build apk
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-proxy-app
          path: build/apk/*.apk
